.group-role-all {
    .group-role-all-text {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        margin-right: 10px;
    }
}

.list-role {
    .role-item {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;

        .role-url {
            .role-url-text {
                font-size: 15px;
                font-weight: 450;
            }

        }

        .role-method {}

        .role-title {
            display: flex;
            justify-content: space-between;
            align-items: center;



        }
    }

    .role-action {}
}